html {
    font-size: 14px;
}

body {
}


.date-picker {
    z-index: 302;
}

.date-picker-wrapper {
    z-index: 301;
}

    .date-picker-wrapper .gap {
        z-index: 301;
    }

        .date-picker-wrapper .gap .gap-line .gap-1 {
            z-index: 301;
        }

        .date-picker-wrapper .gap .gap-line .gap-2 {
            z-index: 302;
        }

        .date-picker-wrapper .gap .gap-line .gap-3 {
            z-index: 302;
        }

        .date-picker-wrapper .gap .gap-top-mask {
            z-index: 303;
        }

        .date-picker-wrapper .gap .gap-bottom-mask {
            z-index: 303;
        }

/**/
legend {
    display: block;
    width: auto;
    padding: 0 5px;
    margin-bottom: 0;
    font-size: inherit;
    line-height: inherit;
    border-bottom: none;
    text-transform: uppercase;
}

fieldset {
    border: 2px groove threedface;
    padding: 10px;
    border-radius: 3px;
}

    fieldset > fieldset {
        border: 1px groove threedface;
        padding: 5px;
        border-radius: 3px;
    }

        fieldset > fieldset legend {
            text-transform: none;
        }

tr.group,
tr.group:hover {
    background-color: #ddd !important;
    text-align: center;
    text-transform: uppercase;
}

td.metering_units_name {
    text-align:left;
    text-transform:uppercase;
}

td.value {
    text-align:right;
    color:#4800ff;
}