html {
    font-size: 14px;
}

body {
}

/**/
legend {
    display: block;
    width: auto;
    padding: 0 5px;
    margin-bottom: 0;
    font-size: inherit;
    line-height: inherit;
    border-bottom: none;
    text-transform: uppercase;
}

fieldset {
    border: 2px groove threedface;
    padding: 10px;
    border-radius: 3px;
}

    fieldset > fieldset {
        border: 1px groove threedface;
        padding: 5px;
        border-radius: 3px;
    }

        fieldset > fieldset legend {
            text-transform: none;
        }

tr.group,
tr.group:hover {
    background-color: #ddd !important;
    text-align: center;
    text-transform: uppercase;
}
