/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT TOP (1000) [id]
      ,[date]
      ,[id_metering_units]
      ,[value]
      ,[change]
      ,[change_user]
  FROM [KRR-PA-REP-SBF].[BALANCE].[DailyIntake]
  SELECT TOP (1000) [id]
      ,[id_daily_intake]
      ,[id_directory_production]
      ,[value]
      ,[change]
      ,[change_user]
  FROM [KRR-PA-REP-SBF].[BALANCE].[DailyProduction]