body{
	background-color: transparent;
    background-repeat: repeat, no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    background-size: auto, cover;
	color: #fff;
	font-family: 'Josefin Slab', Arial, sans-serif;
	font-size: 13px;
}

.img-header-global {
    background-image: url(../Images/pattern.png), url(../Images/ss-automation.jpg);
}

.img-header-system {
    background-image: url(../Images/pattern.png), url(../Images/datp.jpg);
}

.img-header-mt {
    background-image: url(../Image/header.jpg);
}

.img-header-home {
    background-image: url(../Image/header-home.jpg);
}

.container{
	position:relative;
}
a{
	color: #fff;
	text-decoration: none;
}
.clr{
	clear: both;
}
.content{
	position:relative;
    width:580px;
    margin: 0 auto;
}
h1{
	margin:0px;
	padding:20px;
	font-size:42px;
	/*color:#fff;*/
    color:#1E3151;
	text-align:left;
	font-weight:400;
    text-align:left;
    text-shadow:1px 1px 1px rgba(255,255,255,0.9);
}
    h1 span {
        font-size: 22px;
        /*color:#ddd;*/
        color: #3c3131;
        padding-top: 10px;
        font-style: italic;
        font-family: Georgia, serif;
        padding-top: 5px;
        text-decoration: underline;
    }

/* Header Style */
.header{
	font-family:'Arial Narrow', Arial, sans-serif;
	line-height: 24px;
	font-size: 11px;
	background: #000;
	opacity: 0.9;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
}
.header a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #ddd;
	display: block;
	float: left;
}
.header a:hover{
	color: #fff;
}
.header span.right{
	float: right;
}
.header span.right a{
	float: none;
	display: inline;
}

span form {
    display: inline;
}

/*Сылки на выбор языка*/
a.select-lang, a.select-not-lang {
  position: relative;
  display: block;
  float: left;
  padding: 10px 5px;
}

a.select-lang {
  font-weight: bold;
  color:#fff200;
}
a.select-not-lang {
  color:green;
}