USE [KRR-PA-REP-SBF]
GO
/****** Object:  Table [dbo].[StructuralSubdivisions]    Script Date: 31.07.2019 17:43:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StructuralSubdivisions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[position] [int] NOT NULL,
	[name_subdivisions_ru] [nvarchar](100) NOT NULL,
	[name_subdivisions_en] [nvarchar](100) NOT NULL,
	[name_subdivisions_full_ru] [nvarchar](1000) NOT NULL,
	[name_subdivisions_full_en] [nvarchar](1000) NOT NULL,
	[type] [int] NOT NULL,
	[code] [int] NULL,
	[parent_id] [int] NULL,
 CONSTRAINT [PK_StructuralSubdivisions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StructuralSubdivisions] ON 

INSERT [dbo].[StructuralSubdivisions] ([id], [position], [name_subdivisions_ru], [name_subdivisions_en], [name_subdivisions_full_ru], [name_subdivisions_full_en], [type], [code], [parent_id]) VALUES (1, 1, N'АМКР', N'AMKR', N'ПАО АрселорМиттал Кривой Рог', N'OJSC ArcelorMittal Kryviy Rih', 0, NULL, NULL)
INSERT [dbo].[StructuralSubdivisions] ([id], [position], [name_subdivisions_ru], [name_subdivisions_en], [name_subdivisions_full_ru], [name_subdivisions_full_en], [type], [code], [parent_id]) VALUES (2, 1, N'АДД', N'BF&PD', N'Аглодоменный департамент', N'Blast furnance & Sinter Plant Department', 1, NULL, 1)
INSERT [dbo].[StructuralSubdivisions] ([id], [position], [name_subdivisions_ru], [name_subdivisions_en], [name_subdivisions_full_ru], [name_subdivisions_full_en], [type], [code], [parent_id]) VALUES (3, 6, N'ДАТП', N'DPA', N'Департамент по автоматизации технологических процессов', N'Department of Process Automation', 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[StructuralSubdivisions] OFF
