USE [KRR-PA-REP-SBF]
GO
/****** Object:  Table [dbo].[GroupUser]    Script Date: 10.06.2019 16:46:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupUser](
	[IDGroupUser] [int] IDENTITY(1,1) NOT NULL,
	[IDGroup] [int] NOT NULL,
	[IDUser] [int] NOT NULL,
 CONSTRAINT [PK_tr_GroupUser] PRIMARY KEY CLUSTERED 
(
	[IDGroupUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GroupUser] ON 

INSERT [dbo].[GroupUser] ([IDGroupUser], [IDGroup], [IDUser]) VALUES (1, 2, 1)
INSERT [dbo].[GroupUser] ([IDGroupUser], [IDGroup], [IDUser]) VALUES (3, 9, 6)
INSERT [dbo].[GroupUser] ([IDGroupUser], [IDGroup], [IDUser]) VALUES (5, 3, 5)
GO
SET IDENTITY_INSERT [dbo].[GroupUser] OFF
