USE [KRR-PA-REP-SBF]
GO
/****** Object:  Table [dbo].[FilesStepDetali]    Script Date: 10.06.2019 16:46:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilesStepDetali](
	[IDFileStepDetali] [int] IDENTITY(1,1) NOT NULL,
	[IDStepDetali] [int] NOT NULL,
	[IDFile] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_FilesStepDetali] PRIMARY KEY CLUSTERED 
(
	[IDFileStepDetali] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FilesStepDetali] ON 

INSERT [dbo].[FilesStepDetali] ([IDFileStepDetali], [IDStepDetali], [IDFile]) VALUES (1, 751, CAST(16 AS Numeric(18, 0)))
INSERT [dbo].[FilesStepDetali] ([IDFileStepDetali], [IDStepDetali], [IDFile]) VALUES (2, 751, CAST(17 AS Numeric(18, 0)))
INSERT [dbo].[FilesStepDetali] ([IDFileStepDetali], [IDStepDetali], [IDFile]) VALUES (3, 751, CAST(18 AS Numeric(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[FilesStepDetali] OFF
